#grid {
  /* background-color: red; */
  flex-grow: 4;
  display: grid;
  /* gap: 2%; */
}

.view {
  /* background-color: blue; */
  flex-grow: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  height: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
}

.square {
  width: 28px;
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  /* padding: 5%; */
  border: #000 solid 1px;
  /* background-color: #1e1e1e; */
  /* color: #fff; */
}
